<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RattzEntities" connectionString="metadata=res://*/Rattz.RattzModel.csdl|res://*/Rattz.RattzModel.ssdl|res://*/Rattz.RattzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Dell7110;initial catalog=Rattz;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OrderITEntities" connectionString="metadata=res://*/OrderIT.OrderITModel.csdl|res://*/OrderIT.OrderITModel.ssdl|res://*/OrderIT.OrderITModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Dell7110;initial catalog=OrderIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>